/* Mobile (Horizontal) */

@media (min-width: 501px) 
and (max-width: 1200px) 
and (orientation: landscape) {
   html {
      font-size: 90%;
   }

   .nav-bar {
      font-size: 90%;
      height: 20px;
   }

   .selector label {
      font-size: 80%;
   }

   .nav-icon img {
      visibility: hidden;
   }

   section {
      height: 600px;
   }

   .section-header {
      top: 7%;
   }

   .section-header h1 {
      font-size: 120%;
   }

   .description {
      text-align: center;
      top: 40px;
      font-size: 90%;
      text-align: justify;
   }

   /* GP1 */
   .section-gallery {
      top: 40px;
   }

   .section-gallery img {
      width: 30%;
   }

   .section-terminal {
      top: 40px;
      width: 45%;
      left: 60px;
      height: 180px;
   }

   .section-terminal .top-block {
      height: 40px;
   }

   .section-terminal .bottom-block {
      top: 30px;
   }

   .selector {
      left: 15%;
   }

   /* GP2 */
   .section-code-select {
      top: 160px;
   }

   .section-small-gallery-bottom {
      height: 90vh;
      max-height: 300px;
   }

   /* GP3 */
   #gp3 .section-bin {
      top: 160px;
   }

   /* FOOTER */
   footer {
      height: 80px;
   }

}


/* Mobile (Vertical) */

@media (max-width: 500px)
and (orientation: portrait){

   html {
    font-size: 90%;
   }

   .nav-icon p {
    visibility: hidden;
   }

   .section-header h1 {
    font-size: 120%;
   }

   .description {
    text-align: center;
    top: 7vh;
    font-size: 120%;
   }

   /* GP1 */
   section {
    height: 200vh;
   }

   .section-gallery {
    top: 7vh;
   }

   .section-gallery-gif {
    flex-direction: column;
   }

   .section-gallery img {
    width: 80%;
   }

   .section-code {
    flex-direction: column;
    width: 100%;
   }

   .section-terminal {
    font-size: 90%;
    width: 70%;
   }

   .selector {
    width: 60%;
   }

   .selector select {
    width: 100%;
    height: 5vh;
    font-size: 100%;
   }

   /* GP2 */
   .section-small-gallery {
    width: 80%;
    position: relative;
    top: 10vh;
   }

   #gp2 {
    height: 120vh;
   }

   /* GP3 */
   #gp3 {
    height: 120vh;
   }

   #gp3 .section-bin {
    flex-direction: column;
   }

   #gp3 .section-bin-gallery {
    position: relative;
    top: 10vh;
    width: 80%;
   }

   #gp3 .section-bin-gallery img {
    border-radius: 20px;
   }
}